@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html,
body {
  min-height: 100%;
  min-height: 100vh;
  background-color: darkblue;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
  opacity: 0.4;
  flex: 0 0 auto;
}

.scrollStoryItem {
  filter: blur(20px);
  transition: all 400ms ease;
}
.scrollStoryItem .content {
  transform: scale(1.1);
  transition: all 400ms ease;
}

@media screen and (max-width: 479px) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    width: 60%;
  }
}

.active {
  opacity: 1;
  filter: none;
}
.active .content {
  transform: scale(1);
}

.quote {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 479px) {
  .quote {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .quote {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .quote {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 4rem;
  }
}

.attribution {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #76eec6;
  margin-top: 1.2rem;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 2rem;
  line-height: 1.3;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  p,
a {
    font-size: 1.8rem;
  }
}
p a,
a a {
  color: #76eec6;
}
p a:hover, p a :active,
a a:hover,
a a :active {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid;
  transition: all 400ms ease;
}